.error
    padding-bottom: 150px
    &-container
        position: relative
    &-title
        max-width: 650px
        margin-bottom: 30px
    &-text
        max-width: 650px
        a
            color: $red

@media (max-width: 1630px)
    .error
        padding-bottom: 120px

@media (max-width: 1200px)
    .error
        padding-bottom: 90px

@media (max-width: 800px)
    .error
        &-title
            margin-bottom: 20px
    
@media (max-width: 600px)
    .error
        padding-bottom: 30px