.single
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    min-height: 500px
    color: #fff
    position: relative
    &-title
        font-size: 100px
        font-weight: 900
        font-family: 'DINPro-Condensed', sans-serif
        text-transform: uppercase
    &-container
        position: relative
        z-index: 1