.breadcrumbs
    display: flex
    flex-wrap: wrap
    padding: 40px 0
    &-item
        color: #000
        transition: 0.3s color
        &:hover
            color: $red
        &.inactive
            color: $grey
            &:hover
                color: $grey
    &-dec
        margin: 0 20px
    &_white
        .breadcrumbs-item
            color: #fff
            &:hover
                color: $red
            &.inactive
                &:hover
                    color: #fff

@media (max-width: 1630px)
    .breadcrumbs
        padding: 35px 0
        &-dec
            margin: 0 20px

@media (max-width: 1200px)
    .breadcrumbs
        padding: 30px 0
        &-dec
            margin: 0 15px

@media (max-width: 800px)
    .breadcrumbs
        padding: 25px 0

@media (max-width: 600px)
    .breadcrumbs
        padding: 20px 0