.calc
    background-color: #fff
    padding-top: 100px
    padding-bottom: 150px
    &-main
        grid-column: 2 / 6
    &-title
        margin-bottom: 35px
    &-form
        grid-column: 7 / 12
        &__input
            margin-bottom: 20px
        &__submit
            margin-top: 20px
            width: 100%
            border: none
            margin-bottom: 15px
        &__policy
            font-size: 12px
            font-family: 'CenturyGothic', sans-serif
            a
                color: #000
    &-list
        grid-column: 19 / 25
        &__item
            background-image: url(../img/general/check.svg)
            background-repeat: no-repeat
            background-position: left top
            background-size: 22px 17px
            padding-left: 40px
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0