.footer
    background-color: #000
    color: #fff
    padding-top: 75px
    padding-bottom: 120px
    font-family: 'CenturyGothic', sans-serif
    &-logo
        color: #fff
        margin-bottom: 50px
        max-width: 430px
        b
            font-family: 'CenturyGothic', sans-serif
    &-left
        grid-column: 12 span / auto
        &__item
            margin-bottom: 15px
            max-width: 300px
            font-size: 12px
            &:last-child
                margin-bottom: 0
            a
                color: #fff
    &-menu
        grid-column: 5 span / auto
        display: flex
        flex-direction: column
        align-items: flex-start
        &__item
            color: #fff
            font-size: 14px
            margin-bottom: 20px
            transition: .3s color
            &:last-child
                margin-bottom: 0
            &:hover
                color: $red
            &_big
                text-transform: uppercase
                font-weight: 700
    &-contacts
        grid-column: 7 span / auto
        display: flex
        flex-direction: column
        align-items: flex-start
    &-phone
        font-weight: 700
        color: #fff
        margin-bottom: 10px
        transition: .3s color
        &:hover
            color: $red
    &-address
        margin-bottom: 30px
    &-socials
        margin-bottom: 50px

@media (max-width: 1630px)
    .footer
        padding-top: 60px
        padding-bottom: 90px
        &-logo
            margin-bottom: 40px
        &-left
            &__item
                margin-bottom: 12px
        &-menu
            &__item
                margin-bottom: 20px
        &-address
            margin-bottom: 25px
        &-socials
            margin-bottom: 40px

@media (max-width: 1300px)
    .footer
        &-left
            grid-column: 10 span / auto
        &-menu
            grid-column: 7 span / auto

@media (max-width: 1200px)
    .footer
        padding-top: 50px
        padding-bottom: 70px
        &-logo
            margin-bottom: 30px
        &-menu
            &__item
                margin-bottom: 15px
        &-address
            margin-bottom: 20px
        &-socials
            margin-bottom: 30px

@media (max-width: 1000px)
    .footer
        padding: 50px 0
        &-left
            grid-column: 11 span / auto
        &-menu
            grid-column: 6 span / auto

@media (max-width: 750px)
    .footer
        padding: 40px 0
        &-logo
            margin-bottom: 20px
        &-address
            margin-bottom: 15px
        &-socials
            margin-bottom: 20px
        &-container
            display: flex
            flex-direction: column
        &-menu
            order: 0
            margin-bottom: 20px
        &-contacts
            order: 1
            margin-bottom: 20px
        &-left
            order: 2
        &-logo
            max-width: 300px

@media (max-width: 600px)
    .footer
        padding: 30px 0