.input
    border: none
    border-bottom: 2px solid #000
    background: none
    width: 100%
    padding: 8px 0
    &::placeholder
        color: #000

.input2
    border: 1px solid $grey
    padding: 20px 25px
    &::placeholder
        color: #969696