.hero
    position: relative
    padding-top: 50px
    margin-bottom: -65px
    &-container
        position: relative
        z-index: 1
    &-text
        grid-column: 2 / 10
        width: 100%
    &-title
        margin-bottom: 45px
    &-subtitle
        margin-bottom: 60px
        font-weight: 400
    &-img
        &__wrapper
            grid-column: 11 / 22
            position: relative
        &__item
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            border-radius: 50%
            &-sizer
                padding-bottom: 100%
    &-arrows
        position: absolute
        right: 0
        top: 50%
        transform: translate(50%, -50%)
        z-index: 1